@* @{
    var attendanceCounts = ViewBag.test;
} *@
<partial name="_Toastr" />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">الحضور والانصراف </h4>
            @if (TempData["ErrorMessage"] != null)
{
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            }

            <form id="uploadForm" asp-action="Create" asp-controller="Attendance" method="post" enctype="multipart/form-data">
                <input type="file" name="file" value="اختر ملف"/>
                <button class="btn btn-primary" type="submit">تصدير</button>
            </form>
            <div id="loading-spinner" style="display:none;">
                <button class="btn btn-info" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <h5 class="text-white">سيتم تحميل البيانات قريبا...</h5>
                </button>
            </div>
           
            </div>
    </div>
</div>
@section Scripts {
    <script>
        document.getElementById("uploadForm").addEventListener("submit", function () {
            // Show the loading spinner
            document.getElementById("loading-spinner").style.display = "block";
        });
          
    </script>

}