 @model LoanDtoForAdd

<div class="col-md-6 grid-margin stretch-card" dir="rtl">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">السلف</h4>
            <p class="card-description"> تأييد سلفة لموظف معين </p>
            <form method="post" class="forms-sample material-form">
                <div class="form-group">
                    <input type="number" min="1" max="10000" asp-for="loan_amount" />
                    <label asp-for="loan_amount" class="control-label">قيمة السلفة </label>
                    <i class="bar"></i>
                    <span asp-validation-for="loan_amount" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <input type="number" value="1" min="1" max="10" asp-for="numberofpayment" />
                    <label asp-for="numberofpayment" class="control-label">الدفعات</label>
                    <i class="bar"></i>
                    <span asp-validation-for="numberofpayment" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="EmployeeId" class="label-control">الموظفين</label>
                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeLst">
                    </select>
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>

                </div>

                <div class="button-container">
                    <button type="submit" class="button btn btn-success"><span>حفظ</span></button>
                    <a asp-controller="Loan" asp-action="Index" class="button btn btn-light">الرجوع</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}