@model IEnumerable<Employee>

<partial name="_Toastr" />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">  جميع الموظفين</h4>
            <a class="btn btn-primary btn-rounded btn-fw" asp-controller="Employee" asp-action="Create">موظف جديد </a>

            @if (Model.Count() > 0){
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> الكود </th>
                                <th> الاسم </th>
                                <th> اجمالى الراتب </th>
                                <th> صافى الراتب </th>
                                <th> تعديل </th>
                                <th> حذف </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.Code</td>
                                    <td> @obj.Name</td>
                                    <td> @obj.GrossSalary</td>
                                    <td> @obj.NetSalary</td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="Update">
                                            <i class="fa fa-pencil-square-o text-primary"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="Delete">
                                            <i class="fa fa-trash-o text-danger cursor-pointer text-bold"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
            <div class="container justify-center">
                <partial name="_EmptyData" />
            </div>
            }
        </div>
    </div>
</div>
